body {
	background-color: #178d8d;
	color: rgba(14, 21, 53, 0.644);
}

div.front-page {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	justify-content: center;
	text-align: center;
	border: solid black;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: auto;
}

div.second-page {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	align-content: center;
	justify-content: center;
}

.note-area {
	width: 30%;
	height: 30vh;
	padding: 12px;
	border: 4px solid #102929;
	border-radius: 10px;
}

.submit {
	background-color: #0d275f;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: center;
	width: 20%;
}

a {
	color: rgb(44, 52, 161);
}
